 <script>
        function logout() {
            //delete all cookies
            document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
            window.location.href = "/";

        }
  const copyContent = async (text) => {
		navigator.permissions.query({ name: "write-on-clipboard" }).then((result) => {
  		if (result.state == "granted" || result.state == "prompt") {
				try{
    			await navigator.clipboard.writeText(text);
	     		console.log('Content copied to clipboard');
    		} catch (err) {
      		console.error('Failed to copy: ', err);
    	}
		});

  }
    </script>
{% if myuser != {} %}
<script>
        async function send(id) {
          const error = document.getElementById("error");
          const resp = await fetch("/api/like", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body:
              "id=" +
              encodeURIComponent(id),
          });
          const text = await resp.text();
					const obj = JSON.parse(text)
					if (obj.error == false){
						location.reload()
					}
				}
	      async function del(id) {
          const resp = await fetch("/api/deletepost", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body:
              "id=" +
              encodeURIComponent(id),
          });
          const text = await resp.text();
					const obj = JSON.parse(text)
					if (obj.error == false){
						location.reload()
					} else {
						document.write(obj.error)
					}
				}
        async function edit(id) {
          const content = document.getElementById("content"+id);
          while (content.firstChild) {
            content.removeChild(content.firstChild);
          }
          const input = document.createElement("textarea");
          const resp = fetch("/api/getpost", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body:
              "id=" +
              encodeURIComponent(id),
          })
            .then((response) => response.json())
            .then((json) => {
              input.value = json.post; // set current value of the textarea
            });
          input.setAttribute("id", "content-text"+id);
          input.setAttribute("class", "form-control");
          const button = document.createElement("button");
          button.setAttribute("class", "btn btn-primary");
          button.setAttribute("onclick", "editpost('" + id + "')");
          button.innerHTML = "Submit";
          content.appendChild(input);
          content.appendChild(button);
        }

        async function editpost(id) {
          const content = document.getElementById("content-text"+id).value;
          const resp = await fetch("/api/editpost", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body:
              "id=" +
              encodeURIComponent(id) +
              "&content=" +
              encodeURIComponent(content),
          });
          const text = await resp.text();
          const obj = JSON.parse(text);
          if (obj.error == false) {
            location.reload();
          } else {
            document.write(obj.error);
          }
        }

	      document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
</script>
{% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">NexusFlow</a>
                <ul class="navbar-nav">
                    {% if user != {} %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/post/create">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/u/{{user.name}}">Profile</a>
                    </li>
                    <li class="nav-item dropdown d-flex me-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{user.pfpurl}}" alt="" width="24" height="24" class="d-inline-block align-text-top profile-image">
                            {{user.name}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="javascript:logout()">Logout</a></li>
                            <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </nav>
