<html>
  <head>
    <title>NexusFlow | {{log}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-family: "Roboto", sans-serif;
        background-color: #292929;
        color: white;
        text-align: center;
      }

      #main {
        text-align: center;
        background-color: #696969;
        padding: 25px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container" id="main">
      <h1>Please {{log}}</h1>
      <br />
      <input type="text" placeholder="Username" name="name" id="name" />
      <br />
      <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
      />
      <br />
      {% if log == "login" %}
      <button onclick="send('/login')">{{log}}</button>
      {% else %}
      <button onclick="send('/register')">{{log}}</button>
      {% endif %}
      <script>
        async function send(url) {
          const name = document.getElementById("name").value;
          const pass = document.getElementById("password").value;
          const error = document.getElementById("error");
          const resp = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body:
              "name=" +
              encodeURIComponent(name) +
              "&password=" +
              encodeURIComponent(pass),
          });
          const text = await resp.text();
          console.log(text);
          const obj = JSON.parse(text);
          console.log(obj.token);
          if (obj.correct === true) {
            window.location.href = "/u/" + name;
          } else {
            error.innerHTML = 'Wrong username or password';
          }
        }
      </script>
      <p class="error">
        <strong id="error"></strong><br>
        {% if log == 'register' %} <a href="/login"> Switch to login </a> {%
        else %} <a href="/register"> Switch to register </a> {% endif %}
      </p>
    </div>
  </body>
</html>
