
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>NexusFlow | {{log}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>
	
	      <script>
        async function send(url) {
          const name = document.getElementById("inputEmail").value;
          const pass = document.getElementById("inputPassword").value;
          const error = document.getElementById("error");
          console.log(name, pass);
          const resp = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body:
              "name=" +
              encodeURIComponent(name) +
              "&password=" +
              encodeURIComponent(pass),
          });
          const text = await resp.text();
          const obj = await JSON.parse(text);
          if (obj.error == false) {
            console.log("here");
            document.location.href = obj.redirect;
          } else {
            console.log(obj.error);
            error.textContent = obj.error;
          }
        }
      </script>
	
  <body class="text-center">
		  {% if log == "login" %}
      <form class="form-signin" onsubmit="send('/login')">
      {% else %}
      <form class="form-signin" onsubmit="send('/register')">
      {% endif %}
    
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please {{log}}</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				{% if log == 'register' %} <a href="/login"> Switch to login </a> {%
        else %} <a href="/register"> Switch to register </a> {% endif %}
				<div id="error"></div>
      <p class="mt-5 mb-3 text-muted">&copy; 2023-{{now.year}}</p>
    </form>
  </body>
</html>
